body {
    color: white;
    background-color: #333333;
}
input {
    background-color: #333333 !important;
}

.swagify-header {
    font-size : 100px !important;
    line-height: 100px;
}

div.swagify-form-div{

    padding-top: 150px;
}
form.swagify-form {

    width: 350px;
    margin: 0 auto !important;

}

h1.swagified {
    padding-top:50px;
}
input.phrase {
    display: block;
    height: initial;
}

button.btn-block {
    width:300px;
    margin:0 auto;
}
div.swagify-buttons {
    padding-top: 20px;
}

p.footer {
    padding-top: 200px; /*I am bad at CSS. I'm no @taybenlor */
}


.dubstep {


}















